<div class="container">
  <nb-chat title="Диалог с {{otherUserLogin$ | async}}" size="giant">
    <nb-chat-message *ngFor="let msg of messages"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [date]="msg.date"
                     [files]="msg.files"
                     [quote]="msg.quote"
                     [latitude]="msg.latitude"
                     [longitude]="msg.longitude">
    </nb-chat-message>

    <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
    </nb-chat-form>
  </nb-chat>
</div>