<div class="container my-3">
  <form [formGroup]="filterForm" class="mb-3">
    <div class="form-row">
      <div class="form-group col-md">
        <label for="setName">Название сета</label>
        <input type="text" formControlName="setName" class="form-control" placeholder="название сета">
      </div>
      <div class="form-group col-md">
        <label for="setCode">Код сета</label>
        <input type="text" formControlName="setCode" class="form-control" placeholder="код сета">
      </div>
      <!-- TODO: Поиск по дате выпуска. -->
    </div>
  </form>

  <div class="d-flex justify-content-center mb-3">
    <!-- Для маленьких экранов. -->
    <ngb-pagination class="card-text d-block d-sm-none" [collectionSize]="50000" [maxSize]="5" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>

    <!-- Для больших экранов. -->
    <ngb-pagination class="card-text d-none d-sm-block" [collectionSize]="50000" [maxSize]="7" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>

  <ngb-accordion [closeOthers]="true">
    <ngb-panel id="static-{{set.id}}" *ngFor="let set of filteredSets$ | async">
      <ng-template ngbPanelHeader>
        <div class="d-flex">
          <div class="flex-grow-1 align-self-center">
            <b>{{set.code}}</b>: {{set.name}} <span class="badge badge-secondary">{{set.releaseDate | ruDate}}</span>
          </div>
          <div class="btn-group" role="group" aria-label="About group">
            <button ngbPanelToggle type="button" class="btn btn-outline-secondary">V</button>
            <button type="button" class="btn btn-outline-secondary text-nowrap" routerLink="/cards" [queryParams]="{'setCode':set.code}">К картам</button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>Сет <b>{{set.code}}</b> состоит из следующего набора карт:</p>
        <ul>
          <li *ngFor="let card of set.cards">
            {{card.name}}
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <div class="d-flex justify-content-center mt-3">
    <!-- Для маленьких экранов. -->
    <ngb-pagination class="card-text d-block d-sm-none" [collectionSize]="50000" [maxSize]="5" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>

    <!-- Для больших экранов. -->
    <ngb-pagination class="card-text d-none d-sm-block" [collectionSize]="50000" [maxSize]="7" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>