<div class="container my-3">
  <form [formGroup]="filterForm">
    <div class="form-group col-md mb-0">
      <label for="login">Начать диалог с пользователем</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" formControlName="login" class="form-control" placeholder="ник пользователя">
      </div>
    </div>
    <div class="list-group auto-complete mt-0 mx-3">
      <a class="list-group-item list-group-item-action list-group-item-secondary"
        *ngFor="let user of filteredUsers$ | async" [innerHTML]="user.login | boldSpan:f.login.value"
        (click)="createDialogue(user.id)"></a>
      <!--<ng-container *ngIf="isLoading">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>
      <ng-container *ngIf="!isLoading">
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"
          *ngFor="let user of filteredUsers$ | async">{{user.login}}</a>
      </ng-container>-->
    </div>
  </form>

  <div class="list-group mt-3">
    <a *ngFor="let dialogue of dialogues$ | async" class="list-group-item list-group-item-action"
      routerLink="/dialogues/{{dialogue.id}}">
      <div class="d-flex w-100 justify-content-between mt-2">
        <h5 class="text-truncate my-0">{{dialogue.otherUserLogin}}</h5>
        <small class="text-nowrap">{{dialogue.lastMessage.time | ruDate}}</small>
      </div>
      <p class="text-truncate my-2">{{dialogue.lastMessage.text}}</p>
    </a>
  </div>
</div>