<nb-layout>
    <nb-layout-header fixed>
        <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
            <!-- Brand -->
            <a class="navbar-brand">Exchanger</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div id="id1" class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Карты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/sets">Сеты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/collection" *ngIf="currentUser">Коллекция</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dialogues" *ngIf="currentUser">Диалоги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/exchanges" *ngIf="currentUser">Обмены</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <a class="nav-link btn btn-outline-secondary" (click)="logout()" *ngIf="currentUser">Выход</a>
                    <a class="text-white btn btn-success" (click)="login()" *ngIf="!currentUser">Вход</a>
                </ul>
            </div>
        </nav>
    </nb-layout-header>
    
    <nb-layout-column>
        <div class="top-offset">
            <router-outlet></router-outlet>
        </div>
    </nb-layout-column>
</nb-layout>