<div class="container">
  <a class="text-white btn btn-primary my-3 w-100" routerLink="/cards" [queryParams]="{'collectionMode':true}">Добавить карты в коллекцию!</a>

  <div class="d-flex justify-content-center">
    <!-- Для маленьких экранов. -->
    <ngb-pagination class="card-text d-block d-sm-none" [collectionSize]="50000" [maxSize]="5" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>

    <!-- Для больших экранов. -->
    <ngb-pagination class="card-text d-none d-sm-block" [collectionSize]="50000" [maxSize]="7" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>

<div class="flex-table p-0 mt-0 ml-0 mr-3">
  <div class="card mt-3 ml-3" style="width: 27rem;" *ngFor="let mtgCard of filteredCollection$ | async">
    <div class="card-body p-0">
      <div class="row no-gutters align-items-center h-100 justify-content-center">
        <div class="col-sm-6">
          <img src="{{mtgCard.image}}" class="card-img">
          <div class="card-img-overlay">
            <h1><span class="badge badge-primary mt-4 ml-2">x{{mtgCard.count}}</span></h1>
          </div>
        </div>
        <div class="col-sm-6 p-3">
          <h5 class="card-title">{{mtgCard.name}}
            <span *ngFor="let type of mtgCard.types" class="badge badge-secondary">{{type}}</span>
          </h5>
          <p class="card-text d-none d-sm-block">{{mtgCard.description}}</p>
          <h6 *ngIf="mtgCard.mana" class="card-subtitle text-muted mb-2">Мана <b>{{mtgCard.mana}}</b>.</h6>
          <h6 class="card-subtitle text-muted">Входит в сет <b>{{mtgCard.setCode}}</b>.</h6>
        </div>
      </div>
    </div>
    <div class="card-footer text-success text-center">
      <p class="card-text">Средняя цена: {{mtgCard.price}}</p>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="d-flex justify-content-center">
    <!-- Для маленьких экранов. -->
    <ngb-pagination class="card-text d-block d-sm-none" [collectionSize]="50000" [maxSize]="5" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>

    <!-- Для больших экранов. -->
    <ngb-pagination class="card-text d-none d-sm-block" [collectionSize]="50000" [maxSize]="7" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>