<div class="container">
  <form [formGroup]="filterForm" class="my-3">
    <div class="form-row">
      <div class="form-group col-md">
        <label for="cardText">Текст карты</label>
        <input type="text" formControlName="cardText" class="form-control" placeholder="название или описание карты">
      </div>
      <div class="form-group col-md">
        <label for="setCode">Код сета</label>
        <input type="text" formControlName="setCode" class="form-control" placeholder="код сета">
      </div>
      <div class="form-group col-md">
        <label for="cardType">Тип карты</label>
        <input type="text" formControlName="cardType" class="form-control" placeholder="тип карты">
      </div>
      <!-- TODO: Поиск по мане. -->
    </div>
  </form>

  <div class="d-flex justify-content-center">
    <!-- Для маленьких экранов. -->
    <ngb-pagination class="card-text d-block d-sm-none" [collectionSize]="50000" [maxSize]="5" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>

    <!-- Для больших экранов. -->
    <ngb-pagination class="card-text d-none d-sm-block" [collectionSize]="50000" [maxSize]="7" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>

<div class="flex-table p-0 mt-0 ml-0 mr-3">
  <!--<div class="card mt-3 ml-3" style="max-width: 27rem;"
    *ngFor="let mtgCard of cards$ | async | cardsFilter:f.cardText.value:f.setCode.value:f.cardType.value">-->
  <div class="card mt-3 ml-3" style="width: 27rem;" *ngFor="let mtgCard of filteredCards$ | async">
    <div class="card-body p-0">
      <div class="row no-gutters align-items-center h-100 justify-content-center">
        <div class="col-sm-6">
          <img src="{{mtgCard.image}}" class="card-img">
        </div>
        <div class="col-sm-6 p-3">
          <h5 class="card-title">{{mtgCard.name}}
            <span *ngFor="let type of mtgCard.types" class="badge badge-secondary">{{type}}</span>
          </h5>
          <p class="card-text d-none d-sm-block">{{mtgCard.description}}</p>
          <h6 *ngIf="mtgCard.mana" class="card-subtitle text-muted mb-2">Мана <b>{{mtgCard.mana}}</b>.</h6>
          <h6 class="card-subtitle text-muted">Входит в сет <b>{{mtgCard.setCode}}</b>.</h6>
        </div>
      </div>
    </div>

    <div *ngIf="!showButtons" class="card-footer text-success text-center">
      <p class="card-text">Средняя цена: {{mtgCard.price}}</p>
    </div>

    <div *ngIf="showButtons" class="card-footer text-success d-flex justify-content-between align-items-center">
      <div class="align-self-center">
        <p class="card-text">Средняя цена: {{mtgCard.price}}</p>
      </div>
      <div class="btn-group" role="group" aria-label="Collection group">
        <button type="button" ngbTooltip="Удалить карту из коллекции" (click)="removeCard(mtgCard)"
          class="btn btn-outline-danger text-nowrap">-</button>
        <button type="button" ngbTooltip="Добавить карту в коллекцию" (click)="addCard(mtgCard)"
          class="btn btn-outline-success text-nowrap">+</button>
      </div>
    </div>

  </div>
</div>

<div class="container my-3">
  <div class="d-flex justify-content-center">
    <!-- Для маленьких экранов. -->
    <ngb-pagination class="card-text d-block d-sm-none" [collectionSize]="50000" [maxSize]="5" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>

    <!-- Для больших экранов. -->
    <ngb-pagination class="card-text d-none d-sm-block" [collectionSize]="50000" [maxSize]="7" [(page)]="currentPage"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="onPageChange()">
    </ngb-pagination>
  </div>
</div>